.backgroundImage {
    background-image: url("https://images.wallpaperscraft.ru/image/single/razmytie_tsveta_fon_356247_3840x2400.jpg");
    background-size: cover;
    background-attachment: fixed;
}
